body {
    background-color: burlywood;
}

.greetings {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.greetings_header {}

.greetings_content {
    font-size: 36px;
    font-weight: 700;
}

.input_name {
    font-size: 36px;
    box-shadow: 0px 0px 15px 5px rgba(20, 119, 45, 0.5);
    border-radius: 15px;
}

.greetings_content_write {}